# Unigram
U

#currWord
U10:%x[0,1]


#POS Tag
U20:%x[0,2]

#upcased currWord
U30:%x[0,3]

#first cap
U40:%x[0,4]

#org name
U80:%x[0,8]
#loc name
U90:%x[0,9]

#has cap and period
U110:%x[0,11]

#person name
U120:%x[0,12]

# Bigram
B

#B00:%x[0,12]/%x[-1,12]/%x[0,2]/%x[-1,2]
#B01:%x[0,12]/%x[1,12]/%x[0,2]/%x[1,2]

#B02:%x[0,8]/%x[-1,8]/%x[0,2]/%x[-1,2]
#B03:%x[0,8]/%x[1,8]/%x[0,2]/%x[1,2]

#B04:%x[0,9]/%x[-1,9]/%x[0,2]/%x[-1,2]
#B05:%x[0,9]/%x[1,9]/%x[0,2]/%x[1,2]

