# Unigram
U

#currWord
U10:%x[0,1]/%x[0,2]
U11:%x[-1,1]
U12:%x[1,1]
#U13:%x[-2,1]
#U14:%x[2,1]

#POS Tag
U20:%x[0,2]
U21:%x[0,2]/%x[-1,2]
#U22:%x[0,2]/%x[1,2] lower f-score

#upcased currWord
U30:%x[0,3]/%x[0,2]
#U31:%x[-1,3] slightly increase recall, slightly decrease precision
#U32:%x[1,3]

#first cap
U40:%x[0,4]/%x[0,2]/%x[0,5]

#U60:%x[0,6]/%x[0,2]

#U70:%x[0,7]/%x[0,2]

#org name
U80:%x[0,8]/%x[0,2]
#U81:%x[-1,8]/%x[0,8]/%x[0,2] lower f-score
#U82:%x[1,8]/%x[0,8]/%x[0,2]

#loc name
U90:%x[0,9]/%x[0,2]

#has cap and period
U110:%x[0,11]/%x[0,2]

#person name
U120:%x[0,12]/%x[0,2]
#U121:%x[-1,12]/%x[0,12] slightly impove f-score
#U122:%x[1,12]/%x[0,12]

#brown cluster
U140:%x[0,14]/%x[0,2]
#U141:%x[-1,14]/%x[0,2]
#U142:%x[1,14]/%x[0,2]

#zone
#U150:%x[0,15]

#soic
U160:%x[0,16]
U161:%x[-1,16]
U162:%x[1,16]
U163:%x[-2,16]
U164:%x[2,16]

#icoc
#U170:%x[0,17]

# Bigram
B
